---
- name: MOTD file
  hosts: "localhost"
#  become: yes
  connection: local

  tasks:
  - name: Creating MOTD file
    ansible.builtin.copy:
      dest: /etc/motd
      content: |
        Welcome to Thinknyx Technologies Server!

        This server is managed by Ansible.

        Last Login time {{ ansible_date_time['date'] }} {{ ansible_date_time['time'] }}
